<% var s = window.App.S; %>
<% var psyAsp = window.App.params.psyAsp %>
<h1 align="left"><img src="/public/img/icons/smile.png" class="machineFaceIco" alt="Smile Computer Face" /> <%= s["instrTitle2step"] %> </h1>
<p align="left" class="lead">
	<%= s["instrBody2step"] %>
</p>
