<% var s = window.App.S; %>
<% var psyasp = window.App.params.reqParams.psyasp; %>
<h1 align="left"> <%= s["how" + "_" + psyasp] %> <img src="/public/img/icons/sleep.png" class="machineFaceIco" alt="Sleeping Computer" /></h1>
<p align="left" class="lead">
	<%= s["preTrainBody"] %>
</p>
