<div id="cantDoContainer">
	<img height="32px" src="/externalstuff/img/iconup.png" id="cantDoExpand"/>
	<img height="32px" style="display: none;" src="/externalstuff/img/icondown.png" id="cantDoCollapse"/>
	<div id="cantDoTopDiv">
		<p class="">
			Can't finish or don't want to do the task? Please tell us why. We'll listen and improve.
		</p>
	</div>
	<div id="cantDoBottomDiv">
		<input type="text" class="form-control" id="cantDoText" placeholder="Type here your reason..." />
		<input type="button" id="cantDoSubmit" value="Tell us" class="btn btn-info" />
	</div>
</div>
<div id="cantDoBottomSpacer"></div>
<div id="cantDoIndicator"></div>
